<p id="notice"><%= notice %></p>

<h1>Users</h1>
  <div>
    <% if current_user.teacher? %>
      <% @users.each do |user| %>
        <div>
          <h1><%= user.email %></h1> 
          <p><strong>GitHub Profile</strong> | <%= user.gh_name%></p>
          <p><strong>User Type</strong> | <%= user.role %> </p>
          <p><%= link_to 'Show', user, class: "nasty-link" %> | 
            <%= link_to 'Edit', edit_user_registration_path(user), class: "nasty-link" %></p>
            <!--   <td><%# link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </div>
      <% end %>
    <% else %>
     <h1>Students are not authorized to see this page! Please go <%= link_to "Home", root_path, class: "nasty-link" %></h1>
     <% end %>
  <div>


<br>

<%= link_to 'Home', root_path, class: "nasty-link" %>
